.dashboardContainer {
    background-color: #F8FBFC;
    padding: 16px;
    margin-bottom: 16px;
}

.dashboardContainer .content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 16px;
    
}

.dashboardContainer .projectsContainer {
    
}
.dashboardContainer .projectsContainer .projectsHeader{
    display: flex;
    gap: 8px;
}
.dashboardContainer .projectsContainer .projectsHeader button{
    background-color: #EBEBEBA3;
    border-radius: 24px;
    cursor: pointer;
    padding: 12px 24px;
    color: #999;
    border: none;
}

.dashboardContainer .projectsContainer .projectsHeader button.active {
    background-color: #3C97AF33;
    color: #3C97AF;

}
.dashboardContainer .projectsContainer .projectsHeader button:hover {
    background-color: #3C97AF33;
    color: #3C97AF;

}

.ProjectsInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
}
.ProjectsInfo .projectItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProjectsInfo h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.ProjectsInfo .projectStatus {
    background-color: #F8EFDD;
    color: #D69E2E;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 14px;
    text-align: center;
}

.ProjectsInfo .chartText {
    font-size: 16px;
    color: #808080;
}

.ProjectsInfo .userInfo {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
}

.ProjectsInfo .userInfo img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.ProjectsInfo .userInfo p {
    font-size: 12px;
    color: #808080;
}