.dashboardContainer {
    background-color: #F8FBFC;
    padding: 16px;
    margin-bottom: 16px;
}

.dashboardContainer .content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 16px;
    
}

.dashboardContainer .projectsContainer {
    
}
.dashboardContainer .projectsContainer .projectsHeader{
    display: flex;
    gap: 8px;
}
.dashboardContainer .projectsContainer .projectsHeader button{
    background-color: #EBEBEBA3;
    border-radius: 24px;
    cursor: pointer;
    padding: 12px 24px;
    color: #999;
    border: none;
}

.dashboardContainer .projectsContainer .projectsHeader button.active {
    background-color: #3C97AF33;
    color: #3C97AF;

}
.dashboardContainer .projectsContainer .projectsHeader button:hover {
    background-color: #3C97AF33;
    color: #3C97AF;

}

.ProjectsInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
}

.ProjectsInfo .projectItem {
    
}