.otp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    gap: 10px;
  }  
  .timer {
    font-size: 16px;
    color: #38bdf8;
  }
  
  .resend-text {
    font-size: 14px;
    color: #888;
  }
  
  .resend-link {
    color: #38bdf8;
    cursor: pointer;
  }